.form-product {
    width: 25rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}
.form-control label,
.form-control input {
    display: block;
}
.form-control input {
    border : 1px solid #d3a653;
    font : inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border : 1px solid #1a485a;
    color: #1a485a;
    background: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #1a485a;
    color: blanchedalmond;
}